@use '../../../styles/settings/variables' as *;

.page-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  opacity: 0.2;
  
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

// Responsive adjustments
@include respond-to(mobile) {
  .page-background {
    opacity: 0.15;
  }
}
